<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Create</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
    <textarea id="code_snippet"> // write your code here </textarea>
    <label for="time_restriction">Time restriction (seconds): </label>
    <input id="time_restriction" type="text"/>
    <label for="views_restriction">Views restriction: </label>
    <input id="views_restriction" type="text"/>
    <button id="send_snippet" type="submit" onclick="send()">Submit</button>

    <script src="/js/script.js"></script>
</body>
</html>